extends layout

block center
  #contentTabs.easyui-tabs(fit="true")
    #homePage(title="首页")
        .easyui-layout(fit="true",border="false")
            div(region="center",style="text-align:center",border="false")
                br
                br
                br
                br
                br
                h2 Welcome to intelligent bioinformatics platform of novelbio!
block west
  .easyui-panel(fit="true",title="菜单列表",style="overflow: hidden;")
    ul#menuUl
block north
  br
  br
  h1 NovelBio Data Analysis Platform
  p#welcomInfo(style="align: right")