doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/jquery-easyui-1.2.6/themes/gray/easyui.css')
    link(rel='stylesheet', href='/javascripts/jquery-easyui-1.2.6/themes/icon.css')
    script(src='/javascripts/jquery-easyui-1.2.6/jquery-1.7.2.min.js')
    script(src='/javascripts/jquery-easyui-1.2.6/jquery.easyui.min.js')
    script
    // nothing I've placed here has worked :-(
  body
    #layout.easyui-layout(style="width:1020px;height:500px;")
      #center(region="center")
        block center
      #west(region="west",style="width:200px")
        block west