//
   Created with JetBrains WebStorm.
   User: novelbio
   Date: 13-3-25
   Time: 上午9:56
   To change this template use File | Settings | File Templates.
link(rel='stylesheet', href='/stylesheets/login.css')
script(src='/javascripts/login.js')

#userLoginDiv(style="width:480px;height:400px")
  br
  br
  form#userLoginForm
    h1#loginTitle Log In
    fieldset#inputs
      input#username(name="username",type="text")
      input#password(name="password",type="password")
    fieldset#actions
      fieldset#actions
        input#userLoginSubmit(type="button",value="登录")
